# Ignore temporary files
*~

# Ignore compilation outputs
*.o
*.so
*_wrap.c

# Don't version control the todo list
*.org

# Don't version control the supporting directory
supporting

# Ignore the generated pkgIndex file, and the generated script making it
src/pkgIndex.tcl
src/package.tcl

# Ignore the output package directory
package
