# Ignore temporary files
*~

# Ignore compilation outputs
*.o
*.so
*_wrap.c

# Don't version control the todo list
*.org

# Ignore the generated pkgIndex file
src/pkgIndex.tcl

# Ignore the output package directory
package
